aniso8601==9.0.1
appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.2
Flask==1.1.2
Flask-JWT==0.3.2
flask-restplus==0.13.0
Flask-SQLAlchemy==2.5.1
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mysqlclient==2.0.3
passlib==1.7.4
pycountry==20.7.3
PyJWT==2.1.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.12
urllib3==1.26.4
Werkzeug==1.0.1
